*{
    margin: 0px;
    padding: 0;
    font-family: 'Open Sans';font-size: 22px;
    background-color: black;
    color: white;
    
}
body{
    margin: 20px; 
    border: 2px solid red;
}
.navBar ul{
    display: flex; 
    justify-content: space-between; list-style: none;
}

.navBar ul > .links{
    display: flex; 
    gap:25px
}

